html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./stylesheets/style-reset.css")
        link(rel="stylesheet", href="./stylesheets/style.css")
        script(src="./js/pug-home.js")
        title Devin DeLeon
    body
        div#discordDetails
            h1 #{reqData.userData.global_name}'s Details
            p#discordGlobal Gloabl Name: #{reqData.userData.global_name}
            p#discordUser Username: #{reqData.userData.username}
