html(lang="en")
    head
        include ./templates/header.pug
        title Discord Details
    body
        div#discordDetails.grid-1-col
            div.card.open-sans-discord
                h1 Discord Details
                div#detailsContainerCol.grid-2-col
                    div#detailsContainerRow.grid-2-row
                        p#discordGlobal Gloabl Name: #{reqData.userData.global_name}
                        p#discordUser Username: #{reqData.userData.username}
                    img(src="./images/discord/discord-mark-white.png" class="icon-med")
            