body {
    margin: 1rem;
}

.grid-1-col {
    display:grid;
    grid-template-columns: 1fr;
}

.grid-3-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.grid-2-col {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 1rem;
}

.grid-2-row{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: .5rem;
}

.inline {
    display: block;
}

.icon-large {
    max-width: 64px;
    max-height: 64px;
}

.icon-med {
    max-width: 32px;
    max-height: 32px;
}

.icon-small {
    max-width: 16px;
    max-height: 16px;
}
